@media print {
  div.navbar-header {
    display: none;
  }

  div#statblockForm {
    display: none;
  }

  div#statblockTarget {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.sbMajorSep, .sbSeparator {
  text-transform: uppercase;
}

.sbMajorSep {
  background-color: black;
  color: white;
  font-weight: bold;
  padding-left: .1em;
  padding-right: .1em;
}

.sbLabel {
  font-weight: bold;
}

.sbValue, .sbSkillLabel {
}

.sbSeparator {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.formSection {
  border-left: 1px solid black;
}

div#tokenholder {
  color: #C0C0C0;
}
